@import "../../scss/index.scss";

.basic-modal {
  .modal-content {
    background-color: $background-grey-dark;
    border-radius: 25px;

    .modal-header {
      padding: 15px;
      border: 0;

      .modal-title {
        margin: auto;

        img {
          width: 50px;
        }
      }
    }
  }
}
