@import "./node_modules/compass-mixins/lib/compass.scss";
@import "../../scss/index.scss";

.signin-signup {
  &__left {
    overflow: hidden;
    min-height: 100vh;
    background-image: linear-gradient(to right, #c04848, #480048);
    display: flex;
    align-items: center;
    // justify-content: center;

    img {
      min-height: 100vh;
      position: absolute;
      right: -450px;
    }

    div {
      z-index: 1;

      .glitch {
        position: relative;
      }

      .glitch::before,
      .glitch::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
