@import "../../scss/index.scss";

.list-posts {
  .post {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid $border-grey;
  }

  .avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  .name {
    font-weight: bold;

    span {
      margin-left: 10px;
      font-size: 12px;
      font-weight: normal;
      color: $font-grey;
    }
  }
}
